$blue-main: #3C71FF;
$blue-light: #F1F5FF;

$gray-75: #757575;

$sm-width: 576px;

$size-4: 0.25rem;
$size-8: 0.5rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-24: 1.5rem;
$size-30: 1.875rem;