@import '../base/base';

.buttonStyle {
  &__social {
    position: relative;
    padding: $size-16 $size-12;
    border: 1px solid $blue-main;
    border-radius: $size-4;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;

    &:active {
      background-color: $blue-main;
      box-shadow: 0px 6px 15px rgba(60, 113, 255, 0.4);

      * {
        color: white;
      }
    }

    &--icon {
      color: $blue-main;
      font-size: $size-16;
    }

    &--text {
      color: black;
      font-size: $size-13;
      margin-left: $size-16;
      margin-right: $size-14;
      white-space: nowrap;
    }
  }
}