$lightBlue: #F1F5FF; 

.font {
  &__normal {
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  &__bold {
    font-family: "interstate", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}

.fullWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $lightBlue;
}

.flex {
  &__cc {
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  &__bc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}