@import '../../assets/css/base/base';

@mixin button {
  position: relative;
  width: 100%;
  padding: $size-16 $size-12;
  border-radius: $size-4;
  box-sizing: border-box;
  cursor: pointer;
}

.buttonStyle {
  &__default {
    @include button;
    background-color: $blue-main;
    color: white;
    font-size: $size-14;
    border: none;
  }

  &__social {
    @include button;
    border: 1px solid $blue-main;
    background-color: white;

    &:hover {
      background-color: $blue-main;
      box-shadow: 0px 6px 15px rgba(60, 113, 255, 0.4);

      * {
        color: white;
      }
    }

    &--icon {
      color: $blue-main;
      font-size: $size-16;
      flex-shrink: 0;
    }

    &--text {
      width: 100%;
      color: black;
      font-size: $size-13;
      text-align: center;
      white-space: nowrap;
    }
  }
}